@tailwind base;

@font-face {
    font-family: "Comnic Mono";
    font-weight: 400;
    src: url(../fonts/ComicMono.ttf) format("ttf");
  }
  @font-face {
    font-family: "Sarabun-Medium";
    font-weight: 500;
    src: url(../fonts/Sarabun-Medium.ttf) format("ttf");
  }
@tailwind components;

@tailwind utilities;