


.fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

input:focus{
 
  border:1px solid #09E8D1;
}

input:focus:hover{
  outline: none;
  box-shadow: 0px 0px 5px #09E8D1;
}
