

@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@500&display=swap');
@font-face {
  font-family: "Comnic Mono";
  src: url("./asset/fonts/ComicMono.ttf");
}
.font-body {
  font-family: 'Comnic Mono','Niramit', sans-serif;
}