@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
body {
  font-family: "Baloo Chettan 2", cursive;
}

.ant-layout-sider-zero-width-trigger {
  top: 7px;
  font-size: 40px;
}

.ant-input {
  border-radius: 10px;
  font-weight:bold;
}
